%nav.navbar.navbar-light.navbar-expand-md.navbar-custom
  .container
    %a.navbar-brand{href: "#"} APetsLyfe
    %button.navbar-toggler{'type': 'button', 'data-toggle': 'collapse', 'data-target': 'mainNav',
                           'aria-controls': 'mainNav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
      %span.navbar-toggler-icon
    #mainNav.collapse.navbar-collapse
      .navbar-nav
        %a.nav-item.nav-link{:href => "#"} Home
        %a.nav-item.nav-link{:href => "#"} Pets Profile
        .dropdown
          %a.nav-item.nav-link.dropdown-toggle{:href => "#"} Services
          %a.dropdown-menu
            %a.dropdown-item{:href => "/"} Vet
        %a.nav-item.nav-link{:href => "#"} My Account
        %a.nav-item.nav-link{:href => "#"} Sign Up
        %a.nav-item.nav-link{:href => "#"} Sign Out
