%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} APetsLyfe
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.d-flex
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} Features
      %li.nav-item
        %a.nav-link{:href => "#"} My Pets

      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: '#', role: "button"}
          Services
          .dropdown-menu{"aria-labelledby": "navbarDropdown"}
            %a.dropdown-item{href: '#'} Account Settings

      %li.nav-item.dropdown.ml-auto
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: '#', role: "button"}
          My Account
          .dropdown-menu{"aria-labelledby": "navbarDropdown"}
            %a.dropdown-item{href: '#'} Account Settings
