%nav.navbar.navbar-light.navbar-expand-md.d-flex.p-0.mb-1
  .container.bg-primary.py-2
    %a#brandName.navbar-brand{href: "#"} APetsLyfe
    %button.navbar-toggler{'type': 'button', 'data-toggle': 'collapse', 'data-target': '#mainNav',
                           'aria-controls': 'mainNav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
      %span.navbar-toggler-icon
    #mainNav.collapse.navbar-collapse
      .navbar-nav.mr-auto
        %a.nav-item.nav-link.px-3{:href => root_path} Home
        %a.nav-item.nav-link.px-3{:href => "#"} Pets Profile
        .nav-item.dropdown.px-3
          %a#dropToggle.nav-link.dropdown-toggle{:href => "#", 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'} Services
          .dropdown-menu{'aria-labelledby': 'dropToggle'}
            %a.dropdown-item{:href => "#"} Animal Hospitals
            %a.dropdown-item{href: '#'} Kennels
            %a.dropdown-item{href: '#'} Grooming
            %a.dropdown-item{href: '#'} Dog Walking
      .navbar-nav
        .nav-item.dropdown
          %a.nav-link.dropdown-toggle{'data-toggle': 'dropdown', :href => "#"} My Account
          .dropdown-menu
            %a.dropdown-item{:href => "#"} Account settings
      - if user_signed_in?
        .nav-item
          = button_to "Log Out", destroy_user_session_path, class: "btn btn-info", method: 'delete'
      - else
        .nav-item
          = button_to "Sign In", new_user_session_path, class: "btn btn-danger", method: 'get'
        .nav-item
          = button_to "Sign Up", new_user_registration_path, class: "btn btn-success", method: 'get'